body{
    background-image:url(../images/img9.jpg);
    background-size:600px 400px;
    background-repeat: no-repeat;
    background-position:400px 500px;
    background-attachment:fixed;
}
h1{
    background-image:linear-gradient(45deg,#f70e0e 20%,#1e37c1 20%,#1e37c1 60%,#b220de 60%);
    color:floralwhite;
    font-size:16px;
    font-family:arial;
    font-weight:bold;
}
h1>p{
    background-image:repeating-linear-gradient(#e66465,#e66465 20px, #9198e5 20px,#9198e5 25px);
    color:floralwhite;
    font-size:16px;
    font-family:arial;
    font-weight:bold;
}
h1 div{
    background-image:linear-gradient(#fff,rgba(0,0,0,0.3)),url(../images/img9.jpg);
    color:yellow;
    font-size:16px;
    font-family:arial;
    font-weight:bold;
}
p{
    background-color:white;
    color: dimgrey;
    font-size:14px;
    font-family:arial;
}